<footer>
  <p><%= image_pack_tag "media/images/ZikTeam.jpeg", height: "55px" %>     <span class="copyright">Zikteam Consult</span></p> 
  <div class="footer-socials">
  
  </div>
  <div class="copyright">
    Copyright 2020 © joshkabs
  </div>
</footer>