<header>
  <div class="container">
    <nav id="main-nav" class="flex items-center justify-between">
      <div class="left flex items-center">
        <div class="branding">
          <%= image_pack_tag "media/images/ZikTeam.jpeg", height: "65px" %> 
        </div>
	      <div>
	        <a href="#">Home</a>
	        <a href="#about">About</a>
	        <a href="#services">Services</a>
	        <a href="#work">Work</a>
	        <a href="#blog">Blog</a>
	      </div>
	    </div>
	    <div class="right">
	      <button class="btn btn-primary btn-lg" id="btn-nav1">Contact</button>
	    </div>
	  </nav>
      <div class="hero flex items-center justify-between">
        <div class="left flex-1 flex justify-center">
          <%= image_pack_tag 'media/images/man.png' %>
        </div>
      <div class="right flex-1">
        <h6>Johnathan Vics</h6>
        <h1>I’m a Creative <span>Designer</span></h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod tempor incididunt ut
          labore et dolore magna aliqua. Ut enim ad minim veniam quis nostrud exercitation ullamco
          laboris
          nisi ut aliquip ex ea commodo consequat</p>
        <div>
          <button class="btn btn-secondary " id="btn-nav2">DOWNLOAD CV</button>
        </div>
      </div>
    </div>
  </div>
</header>